<a href="https://colab.research.google.com/github/Jagannath8/GoeduHub-Training/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GO_STP_579 -> Jagannath Pal**

# ***Assignment_3***

---

# Question on Dictionary

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [3]:
import operator
d = {1: 100, 3: 400, 4: 300, 2: 500, 0: 0}
s = dict(sorted(d.items(), key=operator.itemgetter(1)))
print('Ascending order : ',s)
s1 = dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True))
print('Descending order : ',s1)

Ascending order :  {0: 0, 1: 100, 4: 300, 3: 400, 2: 500}
Descending order :  {2: 500, 3: 400, 4: 300, 1: 100, 0: 0}



---

Q.2 Write a Python Program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [5]:
d1 = {0: 10, 1: 20, 2: 30}
print(d1)

{0: 10, 1: 20, 2: 30}



---

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [48]:
city = {'Mumbai': 40, 'Delhi': 45, 'Bangalore': 43, 'Kolkata': 42, 'Hyderabad': 47}
print(city)
query = input("Enter city: ")
print(city.get(query))

{'Mumbai': 40, 'Delhi': 45, 'Bangalore': 43, 'Kolkata': 42, 'Hyderabad': 47}
Enter city: Mumbai
40



---

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [9]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
d = dict(zip(color_name, color_code))
print(d)

{'Black': '#000000', 'Red': '#FF0000', 'Maroon': '#800000', 'Yellow': '#FFFF00'}



---

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary

John	     14

Smith	     13

Alice	     32

Daneil   	 21

1) Using above create a dictionary of Employees and their Salary

2) Write a program that asks user for three type of inputs,

  a) print: if user enter print then it should print all Employees with their   Salary in this format,
      John ==>14
      Smith ==>13
      Alice ==>32
      Daneil ==>21

  b) add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

  c) remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

  d) query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [45]:
employee = {'John': 1400000, 'Smith': 1300000, 'Alice': 3200000, 'Daneil': 2100000}
print(employee)

option = int(input("Enter your option : \n1.Print 2.Add 3.Remove 4.Query \n"))
if option == 1:
  for i in employee :
    print(i, "==>", employee[i])

elif option == 2:
  name = input("Enter name: ")
  sal = int(input("Enter salary: "))
  if name in employee:
    print("Employee already exists!")
  else:
    employee.update({name: sal})
  for i in employee :
    print(i, "==>", employee[i])

elif option == 3:
  rmv = input("Enter name to be removed: ")
  employee.pop(rmv)
  for i in employee :
    print(i, "==>", employee[i])

elif option == 4:
  name = input("Enter name you want to query: ")
  print(employee.get(name)) 

else:
  print("Wrong input!")

{'John': 1400000, 'Smith': 1300000, 'Alice': 3200000, 'Daneil': 2100000}
Enter your option :
1.Print 2.Add 3.Remove 4.Query
2
Enter name: Ravi
Enter salary: 4500000
John ==> 1400000
Smith ==> 1300000
Alice ==> 3200000
Daneil ==> 2100000
Ravi ==> 4500000



---

# Question on Sets

Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Set: A set is a finite collection of unique elements.
Set is also a sequence, and it is iterable.
Unlike list or tuple, set can not have duplicate values.
Set is an un-ordered collection of object.
A set is mutable; we can add, modify and delete elements from a set.

Frozenset: A frozenset is an immutable set.
Like set Its an un-ordered collection of unique elements.
As frozenset is immutable, we cannot add, modify or delete elements.

In [17]:
vowels = ('a', 'e', 'i', 'o', 'u')
fSet = frozenset(vowels)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'e', 'o', 'u', 'i', 'a'})



---

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}
    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [18]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
diff = set1 - set2
print(diff)

{10, 20, 30}



---